<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<!-- Start Navigation -->
<nav id="headerSearch" th:fragment="headerSearch" class="navbar navbar-default navbar-brand-top bootsnav">
    <div class="container">
        <div style="height: 100px">该位置放置广告</div>
        <div id="custom-search-input">
            <div class="input-group col-md-12">
                <input type="text" class="search-query form-control"
                       placeholder="Search"/> <span class="input-group-btn">
					<button class="btn btn-danger btn-search" type="button">
						<span class=" glyphicon glyphicon-search"></span>
					</button>
				</span>
            </div>
        </div>
    </div>

    <div class="container">

        <!-- End Header Navigation -->

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-menu">
            <ul class="nav navbar-nav" data-in="fadeInDown" data-out="fadeOutUp">
                <li class="dropdown megamenu-fw" th:each=="parent,status:${categories}">
                    <a href="#" class=""
                       data-toggle="dropdown" th:text=="${parent.title}">
                    </a>
                    <ul class="dropdown-menu megamenu-content" role="menu">
                        <li>
<!--                                <c:if test="${gStatus.index%4 == 0}">-->
                             <div  class="row" style="margin-bottom: 10px">
<!--                                </c:if>-->
                                <div th:each=="group,gStatus:${parent.groups}" class="col-menu col-md-3" style="border-right: none;padding-bottom:30px; float:left;height: 200px;overflow:hidden;">
                                    <h6 class="title" th:text="${group.groupName}"></h6>
                                    <div class="content">
                                        <ul class="menu-col">
                                                <li th:each="child:${group.categoryList}">
                                                    <a href="/home/product/${child.id}/9/0" th:text="${child.title}"></a>
                                                </li>
                                        </ul>
                                    </div>
                                </div>
                             </div>
                                <!-- end col-3 -->

                            <!-- end row -->
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
</nav>
<!-- End Navigation -->



<script src="/static/js/jquery.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/static/js/ie10-viewport-bug-workaround.js"></script>
<script src="/static/js/bootstrap.js"></script>
<script type="text/javascript" src="/static/js/bootsnav.js"></script>
<script type="text/javascript" src="/static/js/search.js"></script>
</body>
</html>
